.html, body {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;	
	font-size: 12px;
	color:#000;
	padding: 0px;
	margin: 0px;
}
.paper {
	width: 210mm;
	margin: auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.border-line {
	border-bottom: 1px dotted #000;
}

.header {
	height:75px;
}
.header img {
	height: 60px;
}
.header img.barcode {
	float: right;
	width: 60px;
	height: 60px;
}

.info {
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.info .data-type {
	float: right;
	font-style: italic;
}

.content {
	padding: 10px;
	height: 267px;
	line-height: 20px;
}

.content .shipment {
	width: 55%;
	float: left;
	}
.content .details {
	float: right;
	width: 40%
}
.item {
	width: 70%;
	float: left;
}
.item a {
	color: #000;
	text-decoration: none;
}
.item a.remove-item {
	color:#ff0000;
}
.value {
	width: 30%;
	float: right;
	text-align: right;
}
.item-field {
	height: 170px;
}
.signature {
	position: fixed;
	width: 20px;
	height: 30px;
	bottom: 0px;
	right: 0px;
}

#add-item-invoice {}
#add-item-invoice input,
#add-item-invoice button {
	padding:2px 5px;
	width: 85px;
}
#add-item-invoice input[type="submit"],
#add-item-invoice button {
	width:55px;
	text-align: center;
}

#header-bar {
	width: 100%;
	height:30px;
	line-height: 30px;
	background-color:#f9f9f9;
	border-bottom:2px solid #cccccc;
}
#header-bar ul {
	padding:0px;
	margin:0px;
}
#header-bar ul li {
	display: inline-block;
	width: 100px;
	text-align: center;
}
#header-bar ul li a {
	text-decoration: none;
	color: #000000;
	display: block;
}

#header-bar ul li a:hover {
	font-weight:bold;
}