.html, body {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;	
	font-size: 12px;
	color:#000;
	padding: 0px;
	margin: 0px;
	height: 297mm;
}
.paper {
	width: 210mm;
	max-height: 297mm;
	margin: auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px dotted #cccccc;
}
.border-line {
	border-bottom: 1px dotted #000;
}

.header {
	height:60px;
}
.header img {
	height: 60px;
}
.header img.barcode {
	float: right;
	width: 60px;
	height: 60px;
}

.info {
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.info .data-type {
	float: right;
	font-style: italic;
}

.content {
	padding: 10px;
	height: 267px;
	line-height: 20px;
}

.content .shipment {
	width: 55%;
	float: left;
	}
.content .details {
	float: right;
	width: 40%
}
.item {
	width: 70%;
	float: left;
}
.value {
	width: 30%;
	float: right;
	text-align: right;
}
.item-field {
	height: 170px;
}
.signature {
	position: fixed;
	width: 20px;
	height: 30px;
	bottom: 0px;
	right: 0px;
}
